name: Build Electron App

on:
  push:
    tags:
      - 'v*'
    branches:
      - main

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            platform: linux
          - os: windows-latest
            platform: win
          - os: macos-latest
            platform: mac
            arch: x64
          - os: macos-latest
            platform: mac
            arch: arm64
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Create .env-cmdrc.json
        run: |
          echo '{
            "production": {
              "PUBLIC_URL": "./",
              "REACT_APP_ANALYTICS_SCRIPT_ID": "${{ secrets.REACT_APP_ANALYTICS_SCRIPT_ID }}",
              "API_ENDPOINT": "${{ secrets.API_ENDPOINT }}",
              "GOOGLE_CLIENT_ID": "${{ secrets.GOOGLE_CLIENT_ID }}",
              "GOOGLE_ELECTRON_CLIENT_ID": "${{ secrets.GOOGLE_ELECTRON_CLIENT_ID }}",
              "GOOGLE_ELECTRON_CLIENT_SECRET": "${{ secrets.GOOGLE_ELECTRON_CLIENT_SECRET }}"
            }
          }' > .env-cmdrc.json

      - name: Package Electron app
        run: |
          npm run build:electron-combine
          npx electron-builder build --publish=never --${{ matrix.platform }} --${{ matrix.arch || 'x64' }}

      - name: Upload dist artifacts
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }}-${{ matrix.arch || 'x64' }}-artifacts
          path: dist/

      - name: Publish release
        if: startsWith(github.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        with:
          files: dist/**
